// Reset CSS

@import '../node_modules/normalize.css/normalize';

//Colors
$color-primary: #0065FC;
$color-primary-light: #DEEBFF;
$color-primary-dark: #f2f2f2;

h1 {
  color: $color-primary;
}

h2 {
  color: $color-primary-light;
}